html, body {
    margin: 0;
}

h1{
    font-size: 54px;
}

body{
    background-color: #efefef;
}

button{
    padding: 10px 20px;
    font-family: 'Arimo';
    border-width: 0;
    border-radius: 2px;
}

input{
    font-family: 'Arimo';
    font-size: 16px;
}

.page-container {
    position: relative;
    min-height: 100vh;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
